<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-6 offset-3">
            <br/>
            <h3>Create new Listing </h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-2">
            <label for="title" class="form-label">Title:</label>
            <input type="text" name="listing[title]" placeholder="Add a Catchy title" class="form-control" required>
            <div class="valid-feedback">Title Looks good!</div>
        </div>
      
        <div class="mb-2">
            <label for="description" class="form-label">Description :</label>
            <textarea type="text" name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">PLease enter Description !</div>
        </div>
       
        <div class="mb-2">
            <label for="image" class="form-label">Upload Listing Image:</label>
            <input type="file" name="listing[image]" class="form-control" required>
        </div>
        
        <div class="row">
            <div class=" col-md-4">
                <label for="price" class="form-label">Price:</label>
                <input  name="listing[price]" placeholder="1200" class="form-control" required>
                <div class="invalid-feedback">PLease enter valid Price!</div>
            </div>
            
            <div class="mb-1 col-md-8">
                <label for="country" class="form-label">Country:</label>
                <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                <div class="invalid-feedback">PLease enter Country Name !</div>
            </div>

        </div>
       

        <div class="mb-1">
            <label for="location" class="form-label">Location:</label>
            <input type="text" name="listing[location]" placeholder="Mumbai" class="form-control" required>
            <div class="invalid-feedback">PLease enter Location !</div>
        </div>
        
        <br><br>
        <button class="btn btn-dark add-btn ">Add</button>
        <br><br>
    </form>
    </div>
</div>
</body>
<script src="/js/script.js"></script>
